<html ng-app="BookStore">
	<head>
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous">

		<link
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
			
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
			
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
			
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		
		<script th:src="@{/javascript/main.js}"></script>
		
	</head>
	<body ng-controller="BookController" ng-init="init()">
	
		<input type="hidden" id="baseUrl" th:value="@{/}">
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<img alt="Owl" th:src="@{/images/owl.png}" style="max-height:40px;">
			<a class="navbar-brand" href="#">&nbsp;&nbsp;the dark owl</a>
			
		</nav>
	
		<div class="container-fluid">
			<div class="row">
  				<div class="col-md-10 offset-md-1">
  					<div class="row">
  						<div class="col-md-12">
			  				<fieldset ng-repeat="user in users track by $index">
								<legend>Livros locados por {{user.name | format}}</legend>
								<div class="card-group">
									<div class="row">
				  						<div class="col-sm-3" ng-repeat="book in user.booksRead track by $index">
											<div class="card" style="width: 18rem;">
												<div class="card-body">
													<h5 class="card-title">{{book.title | format}}</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
								<legend>Recomendados</legend>
								<div class="card-group">
									<div class="row">
				  						<div class="col-sm-3" ng-repeat="book in user.recomendations track by $index">
											<div class="card" style="width: 18rem;">
												<div class="card-body">
													<h5 class="card-title">{{book.title | format}}</h5>
													<span class="badge badge-pill badge-success">{{book.category}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr>
							</fieldset>
  						</div>
					</div>
  				</div>
  			</div>
		</div>
	</body>

</html>